<!DOCTYPE html>
<html>
<head>
  <title>Dsd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
	<div class="header clear-fix">
		<ul>
		<li><%= link_to 'Home', root_path %></li>
			<% if user_signed_in? %>
				<li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
				<li><%= current_user.email %></li>
			<% else %>
				<li><%= link_to 'Войти', new_user_session_path %></li>
				<li><%= link_to 'Регистрация', new_user_registration_path %></li>
			<% end %>
		</ul>
	</div>
	<div class="<%= controller_name %> yield">
		<%= yield %>
	</div>
	<div class="footer clear-fix">
		<div class="clear-fix">
			<h1>Мы в социальных сетях</h1>
		</div>
		<div class="nav clear-fix">
			<ul>
				<li><a href="#">Вк</a></li>
				<li><a href="#">фб</a></li>
				<li><a href="#">xnj</a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
